<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% load static %}
      <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Job Portal</title>
    <script src="{%static 'plugin/ckeditor/ckeditor.js' %}"><script>
  </head>
  <body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    <nav>
      <label class="logo">JobPortal</label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/dashboard">Dashboard</a></li>
        <li><i class="fas fa-book"></i></li>
       <li id="myBtn"><i class="fas fa-plus"></i></li>
      </ul>
    </nav>

<h2>HTML Table</h2>
<div class='container'>
    <table>
        <h2 class='head' style='padding: 20px 0px;'>Google</h2>
        <tr>
          <th>status</th>
          <th>Question</th>
        </tr>
        <tr>
          <td><input type="checkbox" checked="checked">
            <span class="checkmark"></span></td>
          <td>
            Printing brackets in Matrix Chain Multiplication Problem</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>
                Given only a pointer/reference to a node to be deleted in a singly linked list, how do you delete it?</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>Write a Program to Find the Maximum Depth or Height of a Tree</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>
                Difference between sums of odd level and even level nodes of a Binary Tree</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>Print the sum of two numbers</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>Construct a special tree from given preorder traversal</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>Print the sum of two numbers</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked">
              <span class="checkmark"></span></td>
            <td>Print the sum of two numbers</td>
          </tr>
        
      </table>
      <div id="piechart" style='float:right'></div>
         <h2 class='head'  style='padding: 20px 0px;'>Popular Articles</h2>
        <div class="bg-light p-5 rounded">
    <h3>Google SDE II ROLE , FULL TIME</h3>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.....</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Read More &raquo;</a>
  </div>
      
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <textarea name='content'></textarea>
  </div>

</div>
  <script>
// Get the modal
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script>CKEDITOR.replace('content')</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Status', 'Percentage'],
  ['Done', 50],
  ['Unattempted', 10],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':400, 'height':300};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

  </body>
</html>